
:host {
  overflow: hidden;
}


.activityOverviewContainer {
  background-color: var(--box-background-color);
}

.table-font{
  font-size: small;
}


.table-container {
  overflow-y: auto;
  overflow-x: auto;
  background-color: var(--box-background-color);
}

.toggle-select{
  cursor : pointer;
}

thead tr:nth-child(1) th {
  position: static;
  top: 0;
  z-index: 10;
}

tbody tr {
  padding-bottom: .25rem;
  padding-top: .25rem;
}

thead th {
  vertical-align: top;
}

.border-color {
  border-color: var(--line-color)!important;
}

/*th {
  font-weight: normal;
}*/

.dropdown-sort {
  font-size: small;
  max-height: 90vh;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.dropdown-menu {
  border-radius: 0;
  background-color: lightgray;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.th-dropdown-colors {
  width: 50px
}
