<app-drop-zone
  [dropzoneConfig]="dropZoneConfig"
  (fileOnHover)="toggleBlur($event)"
>
</app-drop-zone>

<div
  class="d-flex flex-column mh-100 h-100 activityOverviewContainer"
  [class.blurOutOfFocus]="activityOverviewOutOfFocus"
>
  <div class="bg-dark"></div>
  <div class="table-container flex-grow-1 table-responsive">
    <table
      class="table table-sm table-font table-hover table-striped table-borderless table-dark mb-0"
      *ngIf="activityColorMap"
    >
      <thead class="activity-overview-table-header">
        <tr class="user-select-none">
          <th scope="col" class="bg-dark th-dropdown-colors">
            <div
              class="btn-group align-baseline dropDownParent dropdown ms-auto center"
              data-bs-toggle="tooltip"
              data-bs-html="true"
              title="Edit activity colors"
            >
              <button
                class="button dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
              >
                <i class="bi bi-palette"></i>
              </button>
              <div class="dropdown-menu dropdown-sort">
                <div class="fst-italic fw-bold ps-2 text-center">
                  Edit activities
                </div>
                <div class="dropdown-item" (click)="resetActivityColors()">
                  <span class="ms-4">Reset activity colors</span>
                </div>
              </div>
            </div>
          </th>
          <th
            scope="col"
            class="bg-dark border-end border-color toggle-select"
            (click)="toggleSort('activityName')"
          >
            <em class="user-select-none">Activity name</em>
            <br />
            <i
              class="bi"
              *ngIf="sortKey === 'activityName'"
              [ngClass]="{
                'bi-sort-alpha-down': !ascending,
                'bi-sort-alpha-down-alt': ascending
              }"
            ></i>
          </th>

          <th
            scope="col"
            class="bg-dark text-center border-end border-color toggle-select"
            (click)="toggleSort('inModel')"
          >
            <em class="user-select-none">in model</em>
            <br />
            <i
              class="bi"
              *ngIf="sortKey === 'inModel'"
              [ngClass]="{
                'bi-sort-up': ascending,
                'bi-sort-down': !ascending
              }"
            ></i>
          </th>
          <th
            scope="col"
            class="bg-dark text-center border-end border-color text-nowrap toggle-select"
            (click)="toggleSort('isStart')"
          >
            <div
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              data-bs-html="true"
              title="<b class='text-primary'>start-activity</b> (in the event log, there exists a case that starts with the given activity)"
            >
              <i class="bi bi-chevron-right text-white"></i>
              <i
                class="bi bi-chevron-double-right"
                style="margin-left: -9px"
              ></i>
              <!--            <i class="bi bi-chevron-double-right" style="margin-left: -6px;"></i>-->
            </div>
            <i
              class="bi"
              *ngIf="sortKey === 'isStart'"
              [ngClass]="{
                'bi-sort-up': ascending,
                'bi-sort-down': !ascending
              }"
            ></i>
          </th>
          <th
            scope="col"
            class="bg-dark text-center border-end border-color text-nowrap toggle-select"
            (click)="toggleSort('isEnd')"
          >
            <div
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              data-bs-html="true"
              title="<b class='text-primary'>end-activity</b> (in the event log, there exists a case that ends with the given activity)"
            >
              <!--            <i class="bi bi-chevron-double-right"></i>-->
              <i
                class="bi bi-chevron-double-right"
                style="margin-left: 0px"
              ></i>
              <i
                class="bi bi-chevron-right text-white"
                style="margin-left: -7px"
              ></i>
            </div>
            <i
              class="bi"
              *ngIf="sortKey === 'isEnd'"
              [ngClass]="{
                'bi-sort-up': ascending,
                'bi-sort-down': !ascending
              }"
            ></i>
          </th>
          <th
            scope="col"
            class="bg-dark text-center toggle-select"
            (click)="toggleSort('occurences')"
          >
            <i class="bi bi-hash"></i
            ><em class="user-select-none">occurrence</em>
            <br />
            <i
              class="bi"
              *ngIf="sortKey === 'occurences'"
              [ngClass]="{
                'bi-sort-numeric-down': ascending,
                'bi-sort-numeric-down-alt': !ascending
              }"
            ></i>
          </th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngIf="activitiesInTree && activityColorMap">
          <tr
            *ngFor="
              let activityField of activityFields
                | activityOverviewSorting: sortKey:ascending
            "
          >
            <!-- <th class="user-select-none" [ngStyle]="{'background-color': activityField.color}">&nbsp;</th> -->
            <td
              [ngStyle]="{ 'background-color': activityField.color }"
              class="color-picker-cell"
            >
              <div
                class="color-picker-div"
                [style.color]="activityField.color"
                [cpPosition]="'auto'"
                [(colorPicker)]="color"
                [cpOutputFormat]="'hex'"
                [cpUseRootViewContainer]="true"
                [cpCloseClickOutside]="false"
                [cpSaveClickOutside]="false"
                [cpAlphaChannel]="'disabled'"
                [cpCancelButton]="true"
                [cpCancelButtonClass]="'button cp-button'"
                [cpOKButton]="true"
                [cpOKButtonClass]="'button cp-button'"
                (colorPickerSelect)="changeActivityColor(activityField, color)"
              >
                &nbsp;&nbsp;&nbsp;&nbsp;
              </div>
            </td>
            <td class="border-end border-color">
              <input
                class="activity-name-input"
                type="text"
                value="{{ activityField.activityName }}"
                (keyup.enter)="
                  applyActivityNameChanges(
                    activityField.activityName,
                    $event.target.value
                  )
                "
                (focusout)="$event.target.value = activityField.activityName"
              />
            </td>
            <td class="border-end border-color text-center">
              <i class="bi bi-check2" *ngIf="activityField.inModel"></i>
            </td>
            <td class="border-end border-color text-center">
              <i class="bi bi-check2" *ngIf="activityField.isStart"></i>
            </td>
            <td class="border-end border-color text-center">
              <i class="bi bi-check2" *ngIf="activityField.isEnd"></i>
            </td>
            <td class="text-center">
              {{ activityField.occurences }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
