.styled-text-field{
  cursor:pointer;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  padding : 0.45rem;
  border-radius: 0.25rem;
  color : var(--text-secondary);
  font-size : small;
}
