/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

main {
  height: calc(100vh - 19px);
  margin-left: var(--width-sidebar);
}

.bootstrap-container {
  background-color: #2e3439;
  color: #f5f5f5;
}
