

<!-- Begin page content -->
<main role="main" class="flex-shrink-0" style="background-color: lightblue;">
  <div class="container-fluid h-100 bootstrap-container pl-0 pr-0">
    <div class="row h-50 m-0">
      <div class="col-12 h-100 p-0">
        <app-process-tree-editor></app-process-tree-editor>
      </div>
    </div>
    <hr>
    <div class="row h-50 m-0">
      <div class="col-8 p-0 mh-100">
        <app-variant-explorer></app-variant-explorer>
      </div>
      <div class="col-4  p-0">

      </div>
    </div>


    </div>

</main>

<app-footer></app-footer>
