<div>
  <td>
    <button
      [disabled]="!variant.variant.isAnyInfixSelected"
      class="button"
      (click)="resetSelectionStatus()"
      title="Reset trace infix selection of this variant"
      data-bs-toggle="tooltip"
    >
      <i
        class="bi bi-x-lg align-middle font-large"
        [ngClass]="
          variant.variant.isAnyInfixSelected ? 'text-danger' : 'text-secondary'
        "
      ></i>
    </button>
  </td>
  <td>
    <button
      [disabled]="!variant.variant.isAnyInfixSelected"
      class="button"
      (click)="addCurrentSelectedInfix()"
      title="Add the currently selected infix to the variant explorer"
      data-bs-toggle="tooltip"
    >
      <i
        class="bi bi-scissors align-middle font-large"
        [ngClass]="
          variant.variant.isAnyInfixSelected ? 'text-light' : 'text-secondary'
        "
      ></i>
    </button>
  </td>
</div>
