/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}


:host {
  height: calc(100vh - 19px);
  width: calc(100vw - var(--width-sidebar));
  display: flex;
  flex-direction: row;
}

.bootstrap-container {
  background-color: #2e3439;
  color: #f5f5f5;
}
