./idea
/.idea/

interactive-process-mining-angular-app/debug.log
interactive-process-mining-angular-app/dist/
interactive-process-mining-angular-app/node_modules/
interactive-process-mining-angular-app/cortado-win32-x64/

backend/build

