./idea
/.idea/

interactive-process-mining-angular-app/debug.log
interactive-process-mining-angular-app/dist/
interactive-process-mining-angular-app/node_modules/

interactive-process-mining-angular-app/cortado-win32-x64/
interactive-process-mining-angular-app/cortado-linux-x64/


backend/build
backend/dist
backend/interactive_process_mining_core
backend/__pycache__/
backend/backend_utilities/__pycache__/
backend/endpoints/__pycache__/
.venv
build
dist
.vscode
