<div class="variant-info-cell">
  <app-variant-selection-button
    *ngIf="selectable"
    [isSelected]="variant.isSelected"
    (selectionChanged)="selectionChanged.emit($event)"
  >
  </app-variant-selection-button>

  <div
    (click)="conformanceIconClicked()"
    [ngClass]="isConformanceUpdatePossible() ? 'cursor-pointer' : ''"
  >
    <!-- hourglass-split icon-->
    <i
      class="bi bi-hourglass-split font-large text-secondary"
      *ngIf="variant.calculationInProgress"
    ></i>

    <!-- timeout icon-->
    <i
      class="bi bi-hourglass-bottom font-large text-warning"
      *ngIf="variant.calculationInProgress === false && variant.isTimeouted"
      data-bs-toggle="tooltip"
      title="(re)calculate conformance statistics"
    ></i>

    <!-- check-square icon-->
    <i
      class="bi bi-check-square font-large text-success"
      *ngIf="
        variant.deviation === false &&
        variant.calculationInProgress === false &&
        (!variant.isConformanceOutdated || variant.isAddedFittingVariant)
      "
    ></i>
    <i
      class="bi bi-check-square font-large text-warning"
      *ngIf="
        variant.deviation === false &&
        variant.calculationInProgress === false &&
        !(!variant.isConformanceOutdated || variant.isAddedFittingVariant)
      "
      data-bs-toggle="tooltip"
      title="(re)calculate conformance statistics"
    >
    </i>
    <!-- x-square icon-->
    <i
      class="bi bi-x-square font-large text-danger"
      *ngIf="
        variant.deviation &&
        variant.calculationInProgress === false &&
        !variant.isConformanceOutdated
      "
    >
    </i>
    <i
      class="bi bi-x-square font-large text-warning"
      *ngIf="
        variant.deviation &&
        variant.calculationInProgress === false &&
        variant.isConformanceOutdated
      "
      data-bs-toggle="tooltip"
      title="(re)calculate conformance statistics"
    >
    </i>

    <!-- question mark icon-->
    <i
      class="bi bi-question-square text-secondary align-middle font-large"
      *ngIf="
        variant.deviation === undefined &&
        variant.calculationInProgress === false &&
        !variant.isTimeouted
      "
      data-bs-toggle="tooltip"
      title="(re)calculate conformance statistics"
    >
    </i>
  </div>

  <small
    *ngIf="!variant.userDefined"
    class="ms-1 float-end cursor-help"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    data-bs-container="body"
    data-bs-html="true"
    title="variant describes ~{{
      variant.percentage
    }}% of all traces in the event log<br>
        <span class='text-secondary'>variant occurs {{
      variant.count | number
    }} time(s) in total</span>"
  >
    {{ variant.percentage }}%<br />
    ({{ variant.count | number }})
  </small>

  <small
    *ngIf="variant.userDefined"
    class="ms-1 float-end cursor-help"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    data-bs-container="body"
    data-bs-html="true"
    title="User created Variant"
  >
    <i class="bi bi-person-circle fs-5 ms-2"></i>
  </small>
</div>
