<div class="variant-info-cell">
  <app-variant-selection-button
    [isSelected]="variant.isSelected"
    (selectionChanged)="selectionChanged.emit($event)"
  >
  </app-variant-selection-button>

  <div
    (click)="conformanceIconClicked()"
    [ngClass]="isConformanceUpdatePossible() ? 'cursor-pointer' : ''"
  >
    <!-- hourglass-split icon-->
    <i
      class="bi bi-hourglass-split font-large text-secondary"
      *ngIf="variant.calculationInProgress"
    ></i>

    <!-- timeout icon-->
    <i
      class="bi bi-hourglass-bottom font-large text-warning"
      *ngIf="variant.calculationInProgress === false && variant.isTimeouted"
    ></i>

    <!-- check-square icon-->
    <i
      class="bi bi-check-square font-large"
      [ngClass]="
        !variant.isConformanceOutdated || variant.isAddedFittingVariant
          ? 'text-success'
          : 'text-warning'
      "
      *ngIf="
        variant.deviation === false && variant.calculationInProgress === false
      "
    >
    </i>
    <!-- x-square icon-->
    <i
      class="bi bi-x-square font-large"
      [ngClass]="
        !variant.isConformanceOutdated ? 'text-danger' : 'text-warning'
      "
      *ngIf="variant.deviation && variant.calculationInProgress === false"
    >
    </i>

    <!-- question mark icon-->
    <i
      class="bi bi-question-square text-secondary align-middle font-large"
      *ngIf="
        variant.deviation === undefined &&
        variant.calculationInProgress === false &&
        !variant.isTimeouted
      "
    >
    </i>
  </div>

  <small
    class="ms-1 float-end cursor-help"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    data-bs-container="body"
    data-bs-html="true"
    title="variant describes ~{{
      variant.percentage
    }}% of all traces in the event log<br>
        <span class='text-secondary'>variant occurs {{
      variant.count | number
    }} time(s) in total</span>"
  >
    {{ variant.percentage }}%<br />
    ({{ variant.count | number }})
  </small>
</div>
