.header-bar{
  background-color: var(--box-background-color) !important;
  color:whitesmoke;
  font-size: small;
  position: fixed;
  width: 100%;
  height: var(--header-bar-height);
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
  z-index: 6;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
}

.button{
  -webkit-app-region: no-drag;
  color:black;
  width: 100%;
  text-align: left;
}

.button:hover:enabled {
  background-color: #c7c9cc;
}

.drop-down-button{
  -webkit-app-region: no-drag;
  color:whitesmoke;
}

.drop-down-button:hover:enabled {
  background-color: #c7c9cc;
}

.btn-icon{
  margin-left: 6px;
  margin-right: 6px;
}

.icon{
  font-size: 12px;
}

