fastapi
uvicorn
cycler
networkx
python-multipart
git+https://gitlab.fit.fraunhofer.de/pm4py/pm4py-core.git@f99ec3196fe42449385b2c4f1c17a28a8bb44cb8#egg=pm4py
appdirs
websockets
git+https://gitlab.fit.fraunhofer.de/cortado/cortado-core.git@SubprocessDiscovery#egg=cortado_core
cvxopt
pm4pycvxopt
pyinstaller
