fastapi
uvicorn
cycler~=0.10.0
networkx
python-multipart
git+https://gitlab.fit.fraunhofer.de/pm4py/pm4py-core.git@dedef73404bdef9d9ac8654e77d6d438fa730501#egg=pm4py
appdirs
websockets
git+https://gitlab.fit.fraunhofer.de/cortado/cortado-core.git@SubprocessDiscovery#egg=cortado_core
cvxopt
pm4pycvxopt
pyinstaller
