<div class="d-flex flex-column h-100 container-variant-explorer">
  <div class="bg-dark btn-tool-bar">
    <button class="button"
            data-toggle="tooltip" data-placement="top" data-trigger="hover"
            title="update alignments"
            (click)="updateAlignments()">
      <svg class="btn-icon" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#layers-fill"/>
      </svg>
      update alignments
    </button>

    <button class="button"
            data-toggle="tooltip" data-placement="top" data-trigger="hover"
            title="add selected variants to model"
            [disabled]="selectedVariants.length===0">
      <svg class="btn-icon" fill="currentColor" [ngClass]="{'text-success':selectedVariants.length!=0}">
        <use xlink:href="assets/bootstrap-icons.svg#plus"/>
      </svg>
      add variants to model
    </button>

    <span class="vl"></span>

    <button class="button"
            data-toggle="tooltip" data-placement="top" data-trigger="hover" data-html="true"
            title="discover an initial model from the selected variants using the standard <em>Inductive Miner</em> algorithm<br><b><u>Note:</u> overwrites the existing model</b>"
            [disabled]="selectedVariants.length===0"
            (click)="discover_initial_model()">
      <svg class="btn-icon" fill="currentColor" [ngClass]="{'text-success':selectedVariants.length!=0}">
        <use xlink:href="assets/bootstrap-icons.svg#diagram-2-fill"/>
      </svg>
      discover initial model
    </button>

    <span class="vl"></span>


    <button class="button" (click)="clearSelection()">
      <svg class="btn-icon text-danger" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#x"/>
      </svg>
      clear selection
    </button>

    <div class="mr-3 secondary-text ml-auto">
      <em>selected variants: {{this.selectedVariants.length}}</em>
    </div>

  </div>


  <div class="main-variant-explorer flex-grow-1">
    <div class="d-flex">
      <div class="chart-variant__percentage">
        <div *ngFor="let variant of variants" class="d-flex flex-row"
             data-toggle="tooltip"
             data-placement="right"
             data-container="body"
             data-html="true"
             title="variant describes ~{{variant['percentage']}}% of all traces in the event log<br>
             <span class='text-secondary'>variant occurred {{variant['count']| number}} time(s) in total</span><br>
             <span class='text-primary'>variant fits the process model: unknown</span>">

          <svg class="btn-icon text-secondary" *ngIf="false">
            <use xlink:href="assets/bootstrap-icons.svg#hourglass-split"/>
          </svg>
          <svg class="btn-icon text-success" *ngIf="false">
            <use xlink:href="assets/bootstrap-icons.svg#check-square"/>
          </svg>
          <svg class="btn-icon text-warning" *ngIf="false">
            <use xlink:href="assets/bootstrap-icons.svg#x-square"/>
          </svg>
          <svg class="btn-icon text-secondary">
            <use xlink:href="assets/bootstrap-icons.svg#question-square"/>
          </svg>


          <small class="ml-1 float-right cursor-help">
            {{variant['percentage']}}%<br/>
            ({{variant['count'] | number}})
          </small>
        </div>
      </div>
      <div #chart id="chart"></div>
    </div>
  </div>
</div>
