<hr>
<div class="d-flex flex-column mh-100">
  <div class="bg-dark">
    <button class="button"
            data-toggle="tooltip" data-placement="top" data-trigger="hover"
            title="shift selected node(s) to left">
      <svg class="btn-icon" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#chevron-left"/>
      </svg>
    </button>
  </div>

  <div class="main-variant-explorer flex-grow-1">
    <div class="d-flex">
      <div class="chart-variant__percentage">
                        <span *ngFor="let variant of variants">
                        <small>{{variant['percentage']}}%<br/>
                        <span>({{variant['count']}})</span></small></span>
      </div>
      <div #chart id="chart"></div>
    </div>
  </div>
</div>
