.chart-variant__percentage {
  margin-left: 4px;
  display: inline-flex;
  flex-direction: column;
  /*
  min-width: 50px;
  */
  font-size: .8rem;
  color: whitesmoke;
  margin-top: 20px;
  color: var(--text-secondary);
}

.chart-variant__percentage div {
  height: 40px;
  text-align: end;
  margin-right: 1px;
  vertical-align: middle;
  width: auto;
  line-height: .6rem;
}

.main-variant-explorer {
  overflow: scroll;
  background-color: var(--box-background-color);
}

.container-variant-explorer {
  min-height: 100%;
}







