.lm_goldenlayout{
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}


.process-tree-editor-stack{

  .lm_tabs{
    margin-top : 1.5px;
  }

  .lm_tab {
    background: var(--box-background-color)!important;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }

  .lm_tab.lm_active {
    background: rgb(119, 117, 117)!important;
  }

  .lm_header .lm_tab {
    cursor: pointer;
    float: left;
    height: 10px;
    margin-top: 1px;
    padding: 0px 10px 5px;
    position: relative;
    touch-action: none;
  }

  .lm_header .lm_tab{
    border-bottom: none;
    padding-bottom: 7.5px;
    margin-top: 2px !important;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-filter: blur(0);
    filter: blur(0);
    backface-visibility: hidden;
  }

  .lm_header .lm_tab.lm_active {
    border-bottom: none;
    padding-bottom: 7.5px;
    margin-top: 2px !important;
  }

}


.variant-explorer-stack{

  .lm_tabs{
    margin-top : 1.5px;
  }

  .lm_tab {
    background: var(--box-background-color)!important;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }

  .lm_tab.lm_active {
    background: rgb(119, 117, 117)!important;
  }

  .lm_header{
    margin-left: 20px;
    border-bottom: 1px solid black;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  }

  .lm_header .lm_tab {
    cursor: pointer;
    float: left;
    height: 9px;
    margin-top: 1px;
    position: relative;
    touch-action: none;
  }

  .lm_header .lm_tab{
    border-bottom: none;
    padding-bottom: 8.5px;
    margin-top: -1.5px!important;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-filter: blur(0);
    filter: blur(0);
    backface-visibility: hidden;
  }

  .lm_header .lm_tab.lm_active {
    border-bottom: none;
    padding-bottom: 8.5px;
    margin-top: -1.5px!important;

  }

}





