<div
  style="
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px 10px 5px 10px;
  "
  [ngClass]="{
    'selected-variant-performance': isConformanceActive,
    'light-dashed-border': !isConformanceActive && isConformanceAvailable
  }"
>
  <button
    type="button"
    class="btn variant-tree-projection-button"
    (click)="showSelectedConformance()"
    data-bs-toggle="tooltip"
    title="calculate model conformance of this variant"
    id="conformanceButton{{ variant ? variant.bid : 'Merged' }}"
    data-bs-html="true"
    style="display: flex; flex-direction: column"
    [style.background]="computeConformanceButtonColor()"
  >
    <i
      class="bi"
      [ngClass]="{
        'bi-map-fill': isConformanceActive,
        'bi-map': !isConformanceActive
      }"
      [style.color]="computeConformanceButtonTextColor()"
    >
    </i>

    <div
      *ngIf="isConformanceCalcInProgress && !variant?.userDefined"
      class="spinner-border spinner-border-sm text-primary"
      role="status"
      style="margin-top: 5px"
    ></div>
  </button>
  <button
    *ngIf="isConformanceAvailable && !variant?.userDefined"
    style="padding: 0; margin-left: 5px"
    class="btn"
    (click)="removeCurrentConformance()"
    data-bs-toggle="tooltip"
    title="{{ deleteButtonTooltip }}"
  >
    <i class="bi bi-x-lg" style="color: white"></i>
  </button>
</div>
