.chart-variant__percentage {
  margin-left: 4px;
  display: inline-flex;
  flex-direction: column;
  /*
  min-width: 50px;
  */
  font-size: .8rem;
  color: var(--text-secondary);
}

:host {
  position: absolute;
  overflow: hidden;
}

.variant-info-cell {
  align-items: center;
  display: flex;
}

.subvariants {
  text-align: center;
  cursor: pointer;
  margin-left: 10px;
}

.variant-query-button {
  right: 0;
  bottom: 21px;
  position: absolute;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  border-top-left-radius: 5px;
  display: flex;
  align-content: flex-end;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  border-bottom: black solid 1px;
  z-index: 1;
}

.query-app-container{
  width: 100%;
  height: 100%;
  background-color: var(--box-background-color);
}

.query-button{
  color: var(--text-secondary);
  font-size: var(--standard-font-size);
  cursor : pointer;
}

.query-header{
  color: var(--text-secondary);
  font-size: var(--standard-font-size);
  padding : 2px 0px 2px 6px;
}

.query-button:hover{
  filter: brightness(1.75);
}

.btn-tool-bar{
  min-height: 28px;
  display: flex;
  align-items: center;
  border-top: 0px;
}

.variant-cell {
  padding: 5px;
  width: 100%;
}

.variant {
  border-width: 1px !important;
  padding: 5px;
  width: fit-content;
  border: dashed;
}

.spacer {
  height: 5px;
}

.main-variant-explorer {
  overflow: auto;
  background-color: var(--box-background-color);
  user-select: none;
}

.container-variant-explorer {
  min-height: 100%;
  width: calc(100% - 20px);
  position: relative;
  border-left: 1px solid var(--thin-border-color);
  margin-left: 20px;
}

.variant-explorer-alert {
  z-index: 1;
  position: absolute;
  bottom: 10px;
  margin: auto;
}

.variant-activity-tooltip {
  position: absolute;
  display: none;
  background-color: white;
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
}

.button-text {
  display: inline-block;
}

.rotate-90 {
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.full-body-spinner {
  width: 100%;
  height: calc(100% - 28px);
  position: absolute;
  display: flex;
  background-color: var(--box-background-color);
  justify-content: center;
  align-items: center;
}

.dropdown-sort {
  font-size: small;
  max-height: 90vh;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.dropdown-menu {
  border-radius: 0;
  background-color: lightgray;
}

.selected-dropdown-item {
  background-color: var(--bs-blue);
  color: var(--bs-white);
}

.sidebar{
  height: 20px;
  position: absolute;
  display: flex;
  transform: rotate(90deg) translate(0px,-20px);
  transform-origin: left top;
  top: 0;
  background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
  z-index: 4;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-filter: blur(0);
  filter: blur(0);
  backface-visibility: hidden;
}

.variant-number{
  font-size: smaller;
  font-weight: 400;
}

.sidebar-button{
  transform: rotate(180deg);
  font-size: 12px;
  margin-right: 5px;
  font-family: Arial, sans-serif;
  color: #dddddd;
  background: var(--box-background-color);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  margin-bottom: 2px;
  border-bottom: none;
  padding: 0px 10px 5px;
  cursor : pointer;
}

.active{
  background: #777575 !important;
}


.sidebar-button-text{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.query-info-button{
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  font-size: 12px;
  color: #dddddd;
  border: none;

}

.question-icon:hover{
  filter:brightness(1.75);
}