<table
  class="table table-striped table-dark table-hover table-bordered"
  *ngIf="performanceValues"
>
  <thead *ngIf="isBodyExpanded" (click)="isBodyExpanded = !isBodyExpanded">
    <tr>
      <th
        colspan="2"
        style="border-right: none; white-space: nowrap; vertical-align: middle"
      >
        {{ heading }}
      </th>
      <th style="width: 0%; border-left: none">
        <i class="bi bi-caret-left-fill" *ngIf="!isBodyExpanded"></i>
        <i class="bi bi-caret-down-fill" *ngIf="isBodyExpanded"></i>
      </th>
    </tr>
  </thead>
  <tbody
    *ngIf="!isBodyExpanded"
    (click)="isBodyExpanded = !isBodyExpanded"
    style="cursor: pointer"
  >
    <tr>
      <td
        style="border-right: none; white-space: nowrap; vertical-align: middle"
      >
        {{ heading }}
      </td>
      <td style="width: 100%" *ngIf="!isBodyExpanded">
        {{ performanceValues.mean | humanizeDuration: false:true:3 }}
      </td>
      <td style="width: 0%; border-left: none">
        <i class="bi bi-caret-left-fill" *ngIf="!isBodyExpanded"></i>
        <i class="bi bi-caret-down-fill" *ngIf="isBodyExpanded"></i>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="isBodyExpanded">
    <tr>
      <td>Mean:</td>
      <td style="border-right: none">
        {{ performanceValues.mean | humanizeDuration }}
      </td>
      <td
        (click)="isExpanded = !isExpanded"
        style="width: 0%; border-left: none"
      >
        <i class="bi bi-caret-left-fill" *ngIf="!isExpanded"></i>
        <i class="bi bi-caret-down-fill" *ngIf="isExpanded"></i>
      </td>
    </tr>
    <ng-container *ngIf="isExpanded">
      <tr>
        <td>Min:</td>
        <td colspan="2">{{ performanceValues.min | humanizeDuration }}</td>
      </tr>
      <tr>
        <td>Max:</td>
        <td colspan="2">{{ performanceValues.max | humanizeDuration }}</td>
      </tr>
      <tr>
        <td>Stdev:</td>
        <td colspan="2">{{ performanceValues.stdev | humanizeDuration }}</td>
      </tr>
      <tr>
        <td>95th Percentile:</td>
        <td colspan="2">{{ performanceValues["95th"] | humanizeDuration }}</td>
      </tr>
      <tr>
        <td>50th Percentile:</td>
        <td colspan="2">{{ performanceValues["50th"] | humanizeDuration }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
