<i class="bi bi-circle font-large me-2 text-muted cursor-pointer"
   *ngIf="!isSelected"
   (click)="selectionChanged.emit(true)"
   data-toggle="tooltip"
   data-placement="top"
   data-trigger="hover"
   data-html="false"
   title="{{selectTooltipText}}">
</i>
<i class="bi bi-check2-circle font-large me-2 text-light cursor-pointer"
   *ngIf="isSelected"
   (click)="selectionChanged.emit(false)"
   data-toggle="tooltip"
   data-placement="top"
   data-trigger="hover"
   data-html="false"
   title="{{unselectTooltipText}}">
</i>
