<td *ngIf="showLpm" [attr.rowspan]="nPatterns" #lpmContainer>
  <svg #d3svg id="d3-svg" width="100%" height="100%">
    <g
      #d3svgDirective
      appProcessTreeDrawer
      [onClickCallBack]="selectNodeCallBack"
      [computeNodeColor]="computeNodeColor"
      [computeTextColor]="computeTextColor"
      [tooltipText]="tooltipContent"
      id="d3-svg-directive"
      width="100%"
      height="100%"
      class="text-center"
      style="transform: translate(200px, 0px)"
    ></g>
  </svg>
</td>

<td #row class="border-start border-lightgrey ps-2 d-flex" *ngIf="isVisible">
  <ng-content></ng-content>
</td>

<td *ngIf="!isVisible" class="border-start border-lightgrey ps-2">
  <div
    class="variant-spacer"
    [ngStyle]="{
      height: pattern.variant.getHeight() + 'px',
      width: pattern.variant.getWidth() + 'px'
    }"
  >
    Loading...
  </div>
</td>
