
    <!-- <div style="display: flex; flex-direction: column; max-width: 300px; padding: 5px; border-style: solid; margin-bottom: 20px;">
        LEAF_WIDTH = <mat-slider thumbLabel [min]="1" [max]="300" [step]="1" [(ngModel)]="constants.LEAF_WIDTH" (input)="constants.LEAF_WIDTH = $event.value || 100; redraw()"></mat-slider>
        LEAF_HEIGHT = <mat-slider thumbLabel [min]="1" [max]="300" [step]="1" [(ngModel)]="constants.LEAF_HEIGHT" (input)="constants.LEAF_HEIGHT = $event.value || 100; redraw()"></mat-slider>
        MARGIN_X = <mat-slider thumbLabel [min]="1" [max]="300" [step]="1" [(ngModel)]="constants.MARGIN_X" (input)="constants.MARGIN_X= $event.value || 100; redraw()"></mat-slider>
        MARGIN_Y = <mat-slider thumbLabel [min]="1" [max]="300" [step]="1" [(ngModel)]="constants.MARGIN_Y" (input)="constants.MARGIN_Y = $event.value || 100; redraw()"></mat-slider>
        ARROW_HEAD_ANGLE = <mat-slider thumbLabel [min]="1" [max]="89" [step]="1" [(ngModel)]="constants.ARROW_HEAD_ANGLE" (input)="constants.ARROW_HEAD_ANGLE = $event.value || 45; redraw()"></mat-slider>
        ARROW_TAIL = <mat-slider thumbLabel [min]="1" [max]="300" [step]="1" [(ngModel)]="constants.ARROW_FEATHER_LENGTH" (input)="constants.ARROW_FEATHER_LENGTH = $event.value || 100; redraw()"></mat-slider>
    </div>

    <div style="display: flex; flex-direction: column; padding: 5px; border-style: solid; margin-bottom: 20px;">
        <form style="width: 100%;">
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>JSON String</mat-label>
              <input matInput [value]="contentJSON" #input>
            </mat-form-field>

            <button type="submit" (click)="deserializeJSON(input.value); redraw()">Refresh</button>
        </form>
    </div> -->

<svg #svg>
</svg>

