<td class="text-center" #row>
  {{ index }}
</td>
<td class="border-start border-lightgrey">
  <div class="text-center">
    {{ pattern.k }}
  </div>
</td>

<td class="border-start border-lightgrey">
  <div class="text-center">
    {{ pattern.support }}
  </div>
</td>

<td class="border-start border-lightgrey">
  <div class="text-center">
    {{ pattern.child_parent_confidence }}
  </div>
</td>
<td class="center-element">
  <div class="text-center">
    {{ pattern.subpattern_confidence }}
  </div>
</td>
<td>
  <div class="text-center">
    {{ pattern.cross_support_confidence }}
  </div>
</td>
<td class="border-start border-lightgrey">
  <div class="text-center">
    <i class="bi bi-check2" *ngIf="pattern.maximal"></i>
  </div>
</td>
<td class="border-start border-lightgrey">
  <div class="text-center">
    <i class="bi bi-check2" *ngIf="pattern.closed"></i>
  </div>
</td>

<td class="border-start border-lightgrey ps-2" *ngIf="isVisible">
  <svg
    appVariantDrawer
    #fragment
    [variant]="pattern.variant"
    [onClickCbFc]="onClickCbFc"
    [computeActivityColor]="computeActivityColor"
    class="zoom-group-variant"
  ></svg>
</td>

<td *ngIf="!isVisible" class="border-start border-lightgrey ps-2">
  <div
    class="variant-spacer"
    [ngStyle]="{
      height: pattern.variant.getHeight() + 'px',
      width: pattern.variant.getWidth() + 'px'
    }"
  >
    Loading...
  </div>
</td>
