$controls-width : 200px;


:host {
  position: absolute;
  overflow: hidden;
}

.variant-miner-mainblock {
  background-color: var(--box-background-color);
  max-height: 100%;
  position: relative;
  border-left: 1px solid var(--thin-border-color);
}

.ngx-slider .ngx-slider-pointer {
  width: 8px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: #333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
::ng-deep { 

  .sup-selector .ngx-slider .ngx-slider-bar {
    background: #ffe4d1;
    height: 2px;
  }

  .sup-selector .ngx-slider .ngx-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: rgb(215, 213, 213);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .sup-selector .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .sup-selector .ngx-slider .ngx-slider-bubble {
    bottom: 14px;
  }

  .sup-selector .ngx-slider .ngx-slider-tick {
    width: 3px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }

}

.pattern-table-container{
  color : var(--text-secondary);
  width : 100%;
  height : 100%;
  overflow: auto;
}

.pattern-table{
  color : var(--text-secondary);
  width : 100%;
}

.variant-header{
  display: flex;
  align-content: flex-start !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.input-field{
  margin-left: 5px;
  width: 75px;
  border-radius: 3px;
  background-color: var(--box-background-color);
  box-shadow: none;
  border: none;
  color : whitesmoke;
}

.input-label{
  font-size: 0.85rem;
}

.selected-header-text{
  color : white;
}

.header-text-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.header-text{
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  user-select: none;
}

.header-text:hover{
  color : whitesmoke;
}

.filter-button{
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  font-size: 1rem;
  border : none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.control-button-container{
  position: absolute;
  bottom: 0px;
}

.control-button{
  color: whitesmoke;
  background-color: black;
  font-size: 6px;
  padding: 2px 4px 2px 3px;
  box-shadow: none;
  border-radius: 0px 5px 0px 0px;
}

.filter-button:hover{
  color : white;
}

.filter-option-container{
  padding: 25px 5px;
}

.slider-container{
  width : 500px;
}

.confidence-names{
  font-size: x-small;
  font-weight: 400;
}

.sticky-header-row{
  position: sticky;
  top: 0px;
  background-color: var(--box-background-color);
}

.border-lightgrey{
  border-color: rgb(106, 106, 106, 0.6) !important;
}

.center-element{
  border-color: rgb(106, 106, 106, 0.2) !important;
  border-right-width: 1px;
  border-left-width: 1px;
}



.input-selector{
  padding: 0.125rem 0.25rem 0.125rem 0.35rem;
  font-size: 0.85rem;
  color: whitesmoke;
  background-color: var(--box-background-color);
  border: none;
}

.variant-miner-submit-button{
  background: rgb(119, 117, 117);
  border-radius: 3px;
}

.form-element{
  padding: 2.5px;
}

.mine-config-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: space-around;
  height: 50%;
  width: 100%;
}


.control-container{
  width : $controls-width;
  height : 100%;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  color : whitesmoke;
  border-right: black 0.5px solid;
}


.variant-miner-container{
  width : 100%;
  height : 100%;
  display : flex;
  border-bottom: black 0.5px solid;
}
