:host {
  position: absolute;
  overflow: hidden;
}

.variant-miner-mainblock {
  background-color: var(--box-background-color);
  max-height: 100%;
  position: relative;
  border-left: 1px solid var(--thin-border-color);
}
