<div class="d-flex flex-column mh-100 h-100 activityOverviewContainer">
  <div class="bg-dark">

  </div>
  <div class="table-container flex-grow-1 table-responsive">
    <table class="table table-sm table-font table-hover table-striped table-borderless table-dark mb-0"
           *ngIf="activityColorMap">
      <thead>

      <tr>
        <th scope="col" class="bg-dark">&nbsp;</th>
        <th scope="col" class="bg-dark border-right border-color"><em>Activity name</em></th>
        <th scope="col" class="bg-dark text-center border-right border-color"><em>in model</em></th>
        <th scope="col" class="bg-dark text-center border-right border-color text-nowrap">
          <div data-toggle="tooltip" data-placement="bottom" data-html="true"
               title="<b class='text-primary'>start-activity</b> (in the event log, there exists a case that starts with the given activity)">
            <i class="bi bi-chevron-right text-white"></i>
            <i class="bi bi-chevron-double-right" style="margin-left: -9px;"></i>
            <!--            <i class="bi bi-chevron-double-right" style="margin-left: -6px;"></i>-->
          </div>
        </th>
        <th scope="col" class="bg-dark text-center border-right border-color text-nowrap">
          <div data-toggle="tooltip" data-placement="bottom" data-html="true"
               title="<b class='text-primary'>end-activity</b> (in the event log, there exists a case that ends with the given activity)">
            <!--            <i class="bi bi-chevron-double-right"></i>-->
            <i class="bi bi-chevron-double-right" style="margin-left: 0px;"></i>
            <i class="bi bi-chevron-right text-white" style="margin-left: -7px;"></i>
          </div>
        </th>
        <th scope="col" class="bg-dark text-center">
          <i class="bi bi-hash"></i><em>occurrence</em>
        </th>
      </tr>
      </thead>

      <tbody>
      <ng-container *ngIf="activitiesInTree && activityColorMap">
        <tr *ngFor="let a of activityColorMap | keyvalue">
          <th class="user-select-none" [ngStyle]="{'background-color': a.value}">&nbsp;</th>
          <td class="border-right border-color">
            {{a.key}}
          </td>
          <td class="border-right border-color text-center">
            <i class="bi bi-check2" *ngIf="activitiesInTree.has(a.key)"></i>
          </td>
          <td class="border-right border-color text-center">
            <i class="bi bi-check2" *ngIf="startActivities.has(a.key)"></i>
          </td>
          <td class="border-right border-color text-center">
            <i class="bi bi-check2" *ngIf="endActivities.has(a.key)"></i>
          </td>
          <td class="text-center">
            {{activitiesInLog[a.key]}}
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
