<div class="lpm-explorer h-100 d-flex flex-column">
  <div class="lpm-explorer-container" #lpmExplorer>
    <div class="lpm-table-container">
      <div class="bg-dark btn-tool-bar">
        <button
          class="button"
          ngbTooltip="export local process models"
          container="body"
          (click)="exportLocalProcessModels()"
        >
          <i class="bi bi-save"></i>
        </button>
      </div>

      <div class="lpm-table-container-secondary">
        <table class="lpm-table">
          <thead class="user-select-none sticky-header-row">
            <tr>
              <th resizeable class="text-center" rowspan="1" [margin]="-4">
                <div class="header-text-container">
                  <div class="header-text">Local Process Model</div>
                </div>
              </th>
              <th
                resizeable
                class="text-center border-start border-lightgrey"
                rowspan="1"
                [margin]="-4"
              >
                <div class="header-text-container">
                  <div class="header-text">Patterns</div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let lpm of lpms; let i = index">
              <tr
                *ngFor="let pattern of lpm.patterns; let j = index"
                app-lpm-explorer-row
                [lpm]="lpm.lpm"
                [pattern]="pattern"
                [nPatterns]="lpm.patterns.length"
                [rootElement]="variantMinerDiv"
                [showLpm]="j === 0"
              >
                <svg
                  appVariantDrawer
                  #fragment
                  [variant]="pattern"
                  [computeActivityColor]="computeActivityColor"
                  [onRightMouseClickCbFc]="openContextCallback"
                  [infixType]="InfixType.PROPER_INFIX"
                  [keepStandardView]="true"
                  [addCursorPointer]="false"
                  class="zoom-group-variant"
                ></svg>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
