.main {
  background-color: #2b2b2b;

}

.node {
  rx: 3;
  ry: 3;
}

.node-operator {
  fill: #404040;
}

.node-visible-activity {
  fill: #8f8f8f;
}

.node-invisible-activity {
  fill: #aeaeae;
}

.button {
  color: #ffffff;
  border: none;
  padding: 3px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: #555555;
  margin-right: 2px;
}

.button:hover {
  background-color: #676767;
}



