.main {
  background-color: #2b2b2b;

}

.tool-bar{
}

.node {
  rx: 3;
  ry: 3;
}

.node-operator {
  fill: #404040;
}

.node-visible-activity {
  fill: #8f8f8f;
}

.node-invisible-activity {
  fill: #181818;
  font-size: 2em;
}

hr {
  display: block;
  margin:0;
  border-style: inset;

  border-top: 1px solid #515151;
  width: 100%;
}

.vl {
  border-left: 1px solid #515151;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
}

.button {
  color: whitesmoke;
  border: none;
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: Transparent;
  user-select: none;
}

.btn-fixed-width{
  min-width: 90px;
}

.button-active {
  background-color: darkgray;
}

.button:hover:enabled {
  background-color: #676767;
}

.button:focus{

}

.button:disabled {
  color: #757575 !important;
}

.button:focus {
  outline: none;
}

.crosshair {
  cursor: crosshair;
}

.dropdown-node-insert {
  font-size: small;
  max-height: 90vh;
  overflow-x: auto;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  overflow-y: scroll ;
}

.insertion-position-active{
  background-color: #a6cf82;
}

.node-text{
  text-anchor:middle;
  dominant-baseline:middle;
}



