.main {
  background-color: #2b2b2b;

}

.node-operator {
  fill: #404040;
  rx:3;
  ry:3;
}

.node-visible-activity {
  fill: #999999;
  rx:3;
  ry:3;
}

.node-invisible-activity {
  fill: #aeaeae;
  rx:3;
  ry:3;
}

.button {
  color: #ffffff;
  border: none;
  padding: 3px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: #555555;
  margin-right: 1px;
}

.button:hover{
  background-color: #676767;
}



