<div class="main h-100 d-flex flex-column">
  <div>
    <button class="button text-success" [disabled]="insertNewNodeButtonActive()">
      <svg class="bi bi-arrow-bar-down" width="1.5em" height="1.5em" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#box-arrow-in-left "/>
      </svg>
    </button>

    <button class="button text-success" [disabled]="insertNewNodeButtonActive()">
      <svg class="bi bi-arrow-bar-down" width="1.5em" height="1.5em" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#box-arrow-in-down "/>
      </svg>
    </button>

    <button class="button text-success" [disabled]="insertNewNodeButtonActive()">
      <svg class="bi bi-arrow-bar-down" width="1.5em" height="1.5em" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#box-arrow-in-right"/>
      </svg>
    </button>

    <button class="button text-warning" (click)="deleteSubtree()" [disabled]="deleteSubtreeActive()">
      <svg class="bi bi-arrow-bar-down " width="1.5em" height="1.5em" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#trash"/>
      </svg>
    </button>

    <button class="button text-light">
      <svg class="bi bi-arrow-bar-down" width="1.5em" height="1.5em" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#chevron-left"/>
      </svg>
    </button>

    <button class="button">
      <svg class="bi bi-arrow-bar-down text-light" width="1.5em" height="1.5em" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#chevron-right"/>
      </svg>
    </button>

    <span class="ml-3"></span>

    <button class="button" (click)="selectNode()" [class.button-active]="selectNodeActive">
      select node
      <svg class="bi bi-arrow-bar-down text-danger" width="1.5em" height="1.5em" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#check2"/>
      </svg>
    </button>

    <button class="button" (click)="selectSubtree()" [class.button-active]="selectSubtreeActive">
      select subtree
      <svg class="bi bi-arrow-bar-down text-danger" width="1.5em" height="1.5em" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#check2-all"/>
      </svg>
    </button>

    <button class="button" (click)="clearSelection()">
      clear selection
      <svg class="bi bi-arrow-bar-down text-danger" width="1.5em" height="1.5em" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#x"/>
      </svg>
    </button>

    <span class="ml-3"></span>

    <button class="button" id="btn-reset-zoom" data-toggle="tooltip" data-placement="top"
            title="reset view">
      <svg class="bi bi-arrow-bar-down text-light" width="1.5em" height="1.5em" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#arrows-fullscreen"/>
      </svg>
    </button>

    <!--
    <span class="ml-3"></span>

    <button class="button" data-toggle="tooltip" data-placement="top"
            title="download process tree as .ptml file">
      <svg class="bi bi-arrow-bar-down text-light" width="1.5em" height="1.5em" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#cloud-download"/>
      </svg>
    </button>
    -->
  </div>

  <div #d3container id="d3-container" class="mt-2 flex-grow-1 crosshair">

    <svg #d3svg id="d3-svg" width="100%" height="100%"></svg>

  </div>
</div>
