<div class="main h-100">

  <button class="button text-success">
    <svg class="bi bi-arrow-bar-down" width="1.5em" height="1.5em" fill="currentColor">
      <use xlink:href="assets/bootstrap-icons.svg#box-arrow-in-left "/>
    </svg>
  </button>

  <button class="button text-success">
    <svg class="bi bi-arrow-bar-down" width="1.5em" height="1.5em" fill="currentColor">
      <use xlink:href="assets/bootstrap-icons.svg#box-arrow-in-down "/>
    </svg>
  </button>

  <button class="button text-success">
    <svg class="bi bi-arrow-bar-down" width="1.5em" height="1.5em" fill="currentColor">
      <use xlink:href="assets/bootstrap-icons.svg#box-arrow-in-right"/>
    </svg>
  </button>

  <button class="button text-warning">
    <svg class="bi bi-arrow-bar-down " width="1.5em" height="1.5em" fill="currentColor">
      <use xlink:href="assets/bootstrap-icons.svg#trash"/>
    </svg>
  </button>

  <button class="button text-light">
    <svg class="bi bi-arrow-bar-down" width="1.5em" height="1.5em" fill="currentColor">
      <use xlink:href="assets/bootstrap-icons.svg#chevron-left"/>
    </svg>
  </button>

  <button class="button">
    <svg class="bi bi-arrow-bar-down text-light" width="1.5em" height="1.5em" fill="currentColor">
      <use xlink:href="assets/bootstrap-icons.svg#chevron-right"/>
    </svg>
  </button>


  <div #d3container id="d3-container" class="mt-4">

    <svg #d3svg id="d3-svg" width="100%" height="100%"></svg>

  </div>


</div>
