<div class="modal fade" id="settingsModalDialog" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header h-line-bottom">
        <h5 class="modal-title text-light" id="settingsModalLabel">Settings</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="was-validated">
          <div class="form-group row">
            <label for="timeout" class="text-light col-7 col-form-label">Conformance checking timeout
              <i class="bi bi-question-circle-fill font-large ms-1 align-middle secondary-text" data-toggle="tooltip"
      data-placement="top" data-trigger="hover" data-html="true" title="The calculation of conformance statistics stops after the configured timeout (in seconds). The timeout is applied per variant.">
    </i>
            </label>
            <div class="col-5">
              <input type="number" class="form-control" id="timeout" aria-describedby="timeoutHelp"
                placeholder="Enter timeout" [(ngModel)]="configuration.timeoutCVariantAlignmentComputation"
                [ngModelOptions]="{standalone: true}" required>
              <div class="invalid-feedback">
                Please provide a valid timeout.
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer h-line-top">
        <button id="close-modal" type="button" class="button" data-bs-dismiss="modal">
          <i class="bi bi-x btn-icon text-danger"></i>
          close without save</button>
        <button type="button" class="button" (click)='saveChanges()'>
          <i class="bi bi-save btn-icon text-success"></i>
          save</button>
      </div>
    </div>
  </div>
</div>