:host {
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: absolute;
}

.nav-tabs {
  padding-bottom: 5px;
}

.variant-performance-th {
  font-size: medium;
  font-weight: normal;
  color: white;
}

.no-top-border {
  border-top: none;
}
