<td #row style="padding-right: 15px; padding-left: 5px">{{ index + 1 }}.</td>

<ng-container *ngIf="isVisible && !(variant.userDefined && performanceMode)">
  <td>
    <ng-content select="info"> </ng-content>
  </td>
  <td>
    <div
      *ngIf="variant.sub_variants"
      class="subvariants"
      (click)="openNewSubvariantWindow(index + 1)"
    >
      {{ variant.sub_variants.length }}
    </div>
  </td>
  <td *ngIf="processTreeAvailable" style="text-align: center">
    <ng-content select="performanceButton"> </ng-content>
  </td>
  <td class="variant-cell">
    <ng-content select="variantRenderer"> </ng-content>
  </td>
  <ng-content select="infixControls"> </ng-content>
</ng-container>

<ng-container *ngIf="isVisible && variant.userDefined && performanceMode">
  <td>
  </td>

  <td>
    <div
      *ngIf="variant.sub_variants"
      class="subvariants"
      (click)="openNewSubvariantWindow(index + 1)"
    >
      {{ variant.sub_variants.length }}
    </div>
  </td>

  <td *ngIf="processTreeAvailable"></td>

  <td>
    <tspan class="ms-2"> Performance not available </tspan>
  </td>
</ng-container>

<td *ngIf="!isVisible">
  <div
    class="variant-spacer"
    [ngStyle]="{ height: variant.variant.getHeight() + 'px' }"
  >
    Loading...
  </div>
</td>

<svg display="none">
  <symbol
    width="20"
    height="20"
    fill="currentColor"
    id="infixDots"
    transform-origin="10 10"
  >
    <path
      d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
    />
  </symbol>
</svg>
