.variant {
  border-width: 1px !important;
  padding: 5px;
  width: fit-content;
  border: dashed;
}

.variant-cell {
  padding: 5px;
  width: 100%;
}

.variant-spacer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fixed-right {
  right: 0;
  position: sticky;
  background-color: var(--box-background-color);
  vertical-align: middle;
}