.colorMapLabel {
  position: absolute;
  top: -11px;
  font-size: 14px;
  background: lightgrey;
  padding-right: 4px;
  padding-left: 4px;
}

.color-map {
  padding-top: 10px;
  padding-bottom: 10px;
}
