@import "~bootstrap-icons/font/bootstrap-icons.css";


/* You can add global styles to this file, and also import other style files */
.btn-icon {
  font-size: var(--standard-font-size);
}

:root {
  --line-color: #485158;
  --box-background-color: #2b2b2b;
  --width-sidebar: 30px;
  --text-secondary: #a0a0a0;
  --thin-border-color: #1a1a1a;
  --standard-font-size: 14px;
  --bs-dark-rgb: 52,58,64;
  --bs-bg-opacity: 1;
}

.table-dark{
  --bs-table-bg: #343a40;
  --bs-table-striped-bg: rgba(255,255,255,.05);
  --bs-table-striped-color: var(--text-secondary);
  --bs-table-active-bg: #373b3e;
  --bs-table-active-color: var(--text-secondary);
  --bs-table-hover-bg: rgba(0,0,0,.05);
  --bs-table-hover-color: #fff;
  color: var(--text-secondary);
  border-color: #373b3e;
}

.btn-bar-text {
  font-size: 13px;
  color: whitesmoke;
}

.button {
  color: whitesmoke;
  border: none;
  padding: 2px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--standard-font-size);
  cursor: pointer;
  background-color: Transparent;
  user-select: none;
  height: 100%;
  /*
  vertical-align: top;
  */
  white-space: nowrap;
}

.button-active {
  background-color: darkgray;
}

.button:hover:enabled {
  background-color: #515a64;
}

.button:disabled {
  color: #757575 !important;
}

.button:focus {
  outline: none;
}

.btn-tool-bar {
  min-height: 28px;
  border-top: 1px solid var(--thin-border-color);
  display: flex;
  align-items: center;
}

hr {
  display: block;
  margin: 0;
  border-style: inset;
  border-top: 1px solid var(--line-color);
  width: 100%;
}

.vl {
  border-left: 1px solid var(--line-color);
  height: 27px;
  /*padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;*/
}

.secondary-text {
  color: var(--text-secondary);
  font-size: var(--standard-font-size);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-help {
  cursor: help;
}

/*style scroll bars*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-corner {
  background: var(--box-background-color);
}

/* Track */
::-webkit-scrollbar-track:hover {
  background: var(--box-background-color);
}

/* Track */
::-webkit-scrollbar-track:hover {
  background: #444;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.dropdown-menu {
  border-radius: 0;
  background-color: lightgray;
}

.font-large {
  font-size: large;
}

code {
  color: var(--text-secondary);
}

.swal2-modal {
  background-color: var(--box-background-color) !important;
}

.swal2-html-container {
  text-align: left !important;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.row>* {
  padding-left: unset;
  padding-right: unset;
}

th {
  --bs-table-accent-bg: transparent !important;
}

/*
  Classes for the process tree SVG elements are used to easily differentiate the elements
  and to add style that changes dynamically. Thus easier subtype specific selections can be made
  and the styling can be stripped before tree export

  Used but Empty classes are:

    .node
    .node-operator
    .node-visible-activity
    .node-invisible-activity
    .node-text

*/

.frozen-node-operator {
  fill: #25306a;
}

.frozen-node-visible-activity {
  fill: #425bbf;
}

.frozen-node-invisible-activity {
  fill: #161e40;
}

.frozen-edge{
  stroke : #425bbf;
}

.selected-node{
  stroke : #dc3545 !important;
}

.selected-edge{
  stroke : #dc3545 !important;
}



