<!-- Side navigation-->
<div class="sidenav">

  <button class="button align-bottom" (click)="importEventLog()">
    <svg class="btn-icon" fill="">
      <use xlink:href="assets/bootstrap-icons.svg#folder2-open"/>
    </svg>
    <span class="hidden-if-collapsed">Import event log</span>
  </button>

  <input #fileUploadEventLog type="file" class="d-none" (change)="handleSelectedEventLogFile($event)"
         accept=".xes">

  <input #fileUploadProcessTree type="file" class="d-none" (change)="handleSelectedProcessTreeFile($event)"
         accept=".ptml">

  <hr class="mt-1 mb-1">

  <button class="button align-bottom"
          (click)="importTreeFromPTML()">
    <svg class="btn-icon" fill="currentColor">
      <use xlink:href="assets/bootstrap-icons.svg#file-earmark-arrow-up-fill"/>
    </svg>
    <span class="hidden-if-collapsed">Import model as <samp
      class="text-primary font-weight-bold">.ptml</samp> file</span>
  </button>

  <button class="button align-bottom"
          (click)="exportTreeAsPTML()">
    <svg class="btn-icon" fill="currentColor">
      <use xlink:href="assets/bootstrap-icons.svg#file-earmark-arrow-down"/>
    </svg>
    <span class="hidden-if-collapsed">Export model as <samp
      class="text-primary font-weight-bold">.ptml</samp> file</span>
  </button>

  <button class="button align-bottom"
          (click)="exportTreeAsPNML()">
    <svg class="btn-icon" fill="currentColor">
      <use xlink:href="assets/bootstrap-icons.svg#file-earmark-arrow-down"/>
    </svg>
    <span class="hidden-if-collapsed">Export model as <samp
      class="text-primary font-weight-bold">.pnml</samp> file</span>
  </button>

  <hr class="mt-1 mb-1">


</div>
