<div class="query-container">
  <form [formGroup]="variantQueryInput" (ngSubmit)="onSubmit()" class="form">
    <div class="form-container">
      <app-editor-zone
        (editor)="onEditorChange($event)"
        [formControl]="variantQuery"
      ></app-editor-zone>
    </div>

    <div class="syntax-error-container">
      <ul
        *ngIf="
          (!variantQuery.valid &&
            (variantQuery.dirty || variantQuery.touched)) ||
          backendErrorMessage
        "
        class="syntax-error"
      >
        <div *ngIf="variantQuery.errors?.['monaco']">
          <li *ngFor="let parserError of variantQuery.errors?.['monaco'].value">
            Error {{ parserError }}
          </li>
        </div>
        <li *ngIf="variantQuery.errors?.['backendError']" class="backend-error">
          <span> {{ variantQuery.errors?.['backendError'] }} </span>
        </li>
      </ul>
    </div>
    <div class="variant-query-tool-bar" *ngIf="active">
      <button
        type="submit"
        class="button"
        [disabled]="!active || variantQuery.invalid"
      >
        <i class="bi bi-funnel"></i> Execute Query
      </button>

      <button
        *ngIf="queryfilteractive"
        type="button"
        class="button"
        [disabled]="!active"
        (click)="resetQuery()"
      >
        <i class="bi bi-x-lg text-danger"></i> Remove active query
      </button>

      <div class="text-right">
        <button
          *ngIf="queryfilteractive"
          type="button"
          class="button"
          [disabled]="!active"
          (click)="executeRemovalActionOnFilteredVariants(true)"
          data-bs-toggle="tooltip"
          title="remove filtered variants from event log"
        >
          <i class="bi bi-trash text-danger"></i>
        </button>

        <button
          *ngIf="queryfilteractive"
          type="button"
          class="button"
          [disabled]="!active"
          (click)="executeRemovalActionOnFilteredVariants(false)"
          data-bs-toggle="tooltip"
          title="reduce event log to filtered variants"
        >
          <i class="bi bi-filter-circle-fill text-danger"></i>
        </button>
      </div>
    </div>
  </form>
</div>
