<div class="query-container">
  <form [formGroup]="variantQueryInput" (ngSubmit)="onSubmit()" class="form">
    <div class="form-container">
      <app-editor-zone
        (editor)="onEditorChange($event)"
        [formControl]="variantQuery"
      ></app-editor-zone>
    </div>

    <div class="syntax-error-container">
      <ul
        *ngIf="
          (variantQuery.invalid &&
            (variantQuery.dirty || variantQuery.touched)) ||
          backendErrorMessage
        "
        class="syntax-error"
      >
        <div *ngIf="variantQuery.errors?.['monaco']">
          <li *ngFor="let parserError of variantQuery.errors?.['monaco'].value">
            Error {{ parserError }}
          </li>
        </div>
      </ul>
    </div>

    <div class="variant-query-tool-bar">
      <button
        type="submit"
        class="button"
        [disabled]="!active || variantQuery.invalid"
      >
        Execute Query
      </button>

      <button
        *ngIf="queryfilteractive"
        type="button"
        class="button"
        [disabled]="!active"
        (click)="resetQuery()"
      >
        Remove active query
      </button>
    </div>
  </form>
</div>
