<div class="accordion accordion-flush" id="ExpertModeAccordion" class = "expertModeAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="ExpertModeHeading">
      <button #expertModeButton
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#ExpertModeBody"
        (click) = "openExpertMode()"
      >
        Expert Mode
      </button>
    </h2>
    <div
      id="ExpertModeBody"
      class="accordion-collapse collapse"
      data-bs-parent="#ExpertModeAccordion"
    >
      <div class="accordion-body">
        <div class="tree-syntax-string">
          <strong> Tree Syntax</strong> <br />
        </div>
        <form [formGroup]="syntaxTreeInput" (ngSubmit)="onSubmit()">
          <div class="editor" contenteditable="true" formControlName="syntax_tree" #textEditor (blur)="styleText()" [hidden]="!edit" spellcheck="false"></div>
          <div #styledText class = "styledTextField" (dblclick)="openEditor()" [hidden]="edit"></div>

          <div *ngIf="syntax_tree.invalid && (syntax_tree.dirty || syntax_tree.touched)"
            class="alert">

            <div *ngIf="syntax_tree.errors?.['unknowActivities']">
              <div *ngFor="let unknownActivity of syntax_tree.errors?.['unknowActivities']">
              Unknown activity name {{unknownActivity.name}} at: {{unknownActivity.index}}
              </div>
            </div>
            <div *ngIf="syntax_tree.errors?.['imbalanced']">
              Imbalanced parentheses at: {{syntax_tree.errors?.['imbalanced']}}
            </div>

          </div>


        <button type="submit">Render Tree</button>
      </form>
  </div>
</div>
