<div class="accordion accordion-flush" id="ExpertModeAccordion" class = "expertModeAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="ExpertModeHeading">
      <button #expertModeButton
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#ExpertModeBody"
        (click) = "openExpertMode()"
      >
        Expert Mode
      </button>
    </h2>
    <div
      id="ExpertModeBody"
      class="accordion-collapse collapse"
      data-bs-parent="#ExpertModeAccordion"
    >
      <div class="accordion-body">
        <div class="tree-syntax-string">
          <strong> Tree Syntax</strong> <br />
        </div>
        <form [formGroup]="syntaxTreeInput" (ngSubmit)="onSubmit()" (blur)="styleText()">
          <div class="editor-container">
            <textarea class="editor" (blur)="styleText()" [hidden]="!edit" #textEditor [formControl]="syntax_tree" [hidden]="!edit" spellcheck="false"> </textarea>
          </div>
          <div #styledText class="styled-text-field" (dblclick)="openEditor()" [hidden]="edit"></div>

          <div *ngIf="syntax_tree.invalid && (syntax_tree.dirty || syntax_tree.touched)"
            class="alert">

            <div *ngIf="syntax_tree.errors?.['unknowActivities']">
              <div *ngFor="let unknownActivity of syntax_tree.errors?.['unknowActivities']">
              Unknown activity name {{unknownActivity.name}} at: {{unknownActivity.index}}
              </div>
            </div>
            <div *ngIf="syntax_tree.errors?.['imbalanced']">
              <div *ngFor="let imbalancedItem of syntax_tree.errors?.['imbalanced']">
                Imbalanced {{imbalancedItem.symbol}} at {{imbalancedItem.index + 1}}
              </div>
            </div>
            <div *ngIf="syntax_tree.errors?.['apostrophe']">
                Imbalanced Apostrophes
            </div>

            <div *ngIf="backendErrors">
              {{backendErrors}}
            </div>

          </div>


        <button type="submit" class="button"
        [disabled]="!allowRender">Render Tree</button>
      </form>
  </div>
</div>
