<div class="info-bar ps-2 pe-2">
  <!-- In case conformance statistics are not available yet -->
  <span
    class="float-start"
    *ngIf="totalNumberTraces && numberFittingTraces === undefined"
  >
    fitting traces:
    <span>
      -&nbsp;/&nbsp;{{ totalNumberTraces | number }} (&nbsp;-&nbsp;%)</span
    >
  </span>

  <span
    class="float-start"
    *ngIf="
      (numberFittingTraces || numberFittingTraces >= 0) &&
      (totalNumberTraces || totalNumberTraces > 0)
    "
  >
    fitting traces:
    <span [ngClass]="!isConformanceOutdated ? '' : 'text-warning'">
      {{ numberFittingTraces | number }}&nbsp;/&nbsp;{{
        totalNumberTraces | number
      }}
      ({{ numberFittingTraces / totalNumberTraces | percent: ".1" }})</span
    >
  </span>

  <!-- In case conformance statistics are not available yet -->
  <span
    class="float-start ms-4"
    *ngIf="totalNumberVariants && numberFittingVariants === undefined"
  >
    fitting variants:
    <span>
      -&nbsp;/&nbsp;{{ totalNumberVariants | number }} (&nbsp;-&nbsp;%)</span
    >
  </span>

  <span
    class="float-start ms-4"
    *ngIf="
      (numberFittingVariants || numberFittingVariants >= 0) &&
      (totalNumberVariants || totalNumberVariants > 0)
    "
  >
    fitting variants:
    <span [ngClass]="!isConformanceOutdated ? '' : 'text-warning'">
      {{ numberFittingVariants | number }}&nbsp;/&nbsp;{{
        totalNumberVariants | number
      }}
      ({{ numberFittingVariants / totalNumberVariants | percent: ".1" }})
    </span>
  </span>

  <span class="float-end"> selected variants: {{ numSelectedVariants }} </span>
</div>
