<!-- Side navigation-->
<div class="sidenav">

  <button class="button align-bottom">
    <svg class="btn-icon" fill="currentColor">
      <use xlink:href="assets/bootstrap-icons.svg#folder2-open"/>
    </svg>
    <span class="hidden-if-collapsed ml-1">Import event log</span>
  </button>

  <button class="button align-bottom">
    <svg class="btn-icon" fill="currentColor">
      <use xlink:href="assets/bootstrap-icons.svg#file-earmark-arrow-down"/>
    </svg>
    <span class="hidden-if-collapsed ml-1">Export process tree (.ptml file)</span>
  </button>

  <hr class="mt-1 mb-1">

</div>
