<!-- Side navigation-->
<div class="sidenav">

  <button class="button align-bottom" (click)="importEventLog()">
    <svg class="btn-icon" fill="">
      <use xlink:href="assets/bootstrap-icons.svg#folder2-open"/>
    </svg>
    <span class="hidden-if-collapsed">Import event log</span>
  </button>

  <input #fileUploadEventLog type="file" class="d-none" (change)="handleSelectedFile($event)"
         accept=".xes">

  <hr class="mt-1 mb-1">

  <button class="button align-bottom">
    <svg class="btn-icon" fill="currentColor">
      <use xlink:href="assets/bootstrap-icons.svg#file-earmark-arrow-down"/>
    </svg>
    <span class="hidden-if-collapsed">Export model as<span class="text-primary font-weight-bold">.ptml file</span></span>
  </button>

  <button class="button align-bottom">
    <svg class="btn-icon" fill="currentColor">
      <use xlink:href="assets/bootstrap-icons.svg#file-earmark-arrow-down"/>
    </svg>
    <span class="hidden-if-collapsed">Export model as<span class="text-primary font-weight-bold">.pnml file</span></span>
  </button>

  <hr class="mt-1 mb-1">


</div>
