

:host {
  position: absolute;
  width : 100%;
  height : 100%;
}

.main-process-tree-editor {
  background-color: var(--box-background-color);
  max-height: 100%;
  position: relative;
}

.button-text{
  display : inline-block;
}

.dropdown-node-insert {
  font-size: small;
  max-height: 90vh;
  overflow-x: auto;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  overflow-y: scroll;

}

.insertion-position-active{
  background-color: var(--bs-primary);
  color: white;
}

.grid {
  background-image: radial-gradient(var(--line-color) 1px, transparent 0px);
  background-size: 20px 20px;
}

.dropdown-menu {
  border-radius: 0;
  background-color: lightgray;
}



