

:host {
  position: absolute;
  width : 100%;
  height : 100%;
}

.main-process-tree-editor {
  background-color: var(--box-background-color);
  max-height: 100%;
  position: relative;
  border-left: 1px solid var(--thin-border-color);
}

.floating-infobox {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  font-size: small;
  bottom: 0;
  left: 0;
  text-align: left;
  cursor: auto;
  padding: .25rem;
}

.syntax-info {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  font-size: small;
  bottom: 0;
  left: 0;
  text-align: left;
  cursor: auto;
}

.syntax-info ul {
  margin-bottom: 0;
}

.crosshair {
  cursor: crosshair;
}

.button-text{
  display : inline-block;
}

.dropdown-node-insert {
  font-size: small;
  max-height: 90vh;
  overflow-x: auto;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  overflow-y: scroll;

}

.insertion-position-active{
  background-color: var(--bs-primary);
  color: white;
}

.grid {
  background-image: radial-gradient(var(--line-color) 1px, transparent 0px);
  background-size: 20px 20px;
}

.dropdown-menu {
  border-radius: 0;
  background-color: lightgray;
}

::ng-deep .performance-text {
  font-size: 12px;
}

::ng-deep {
  .performance-tooltip .popover-body {
    max-width: none;
    white-space: nowrap !important;
    padding: 0px;
  
    table {
      margin: 0;
      
      td:first-child {
        text-align: left;
        padding-right: 10px;
      }
  
      td:last-child {
        text-align: right;
      }
    }
  
    .tooltip-title {
      padding: 10px;
    }
  
    .tooltip-content {
      max-height: 50vh;
      overflow-y: auto;
    }
  }
  
  .popover {
    max-width: unset;
    filter: drop-shadow(5px 5px 3px black);
  }
}


.exportMode-container{
  position : absolute;
  right : 0;
  bottom : 0;
  max-width: 45vw;
  max-height: 95%;
}

::ng-deep {
  .popover-header-style {
    margin-bottom: 0;
    background-color: #f0f0f0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
  }

  .popover-header {
    background-color: #f0f0f0;
    border-bottom: unset;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
  }
}