.footer {
  background-color: #727272;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  color:whitesmoke;
  font-size: small;
}

.footer > .container {
  padding-right: 1px;
  padding-left: 1px;
}

