<div class="d-flex flex-column h-100 container-variant-explorer" #variantExplorerContainer>
  <div class="main-variant-explorer flex-grow-1">
    <div class="d-flex">
      <div class="chart-variant__percentage">
        <table>
          <tr>
            <th style="padding-right: 15px; padding-left: 5px;">
              Nr.
            </th>
            <th>
              Info
            </th>
            <th class="text-start">
              Variant
            </th>
          </tr>
          <tr>
            <td style="padding-right: 15px; padding-left: 5px">
              Parent
            </td>
            <td>
              <app-variant-info [variant]="main_variant"
              ></app-variant-info>
            </td>
            <td class="variant-cell">
              <div class="variant" [ngStyle]="{
                  'border-color': main_variant.isSelected ? 'unset' : 'transparent'
                }">
                <app-variant-fragment [variant]="main_variant['variant']" [colorMap]="colorMap"></app-variant-fragment>
              </div>
            </td>
          </tr>

          <ng-container *ngFor="let variant of visibleVariants; let i = index">
            <tr>
              <td style="padding-right: 15px; padding-left: 5px">
                {{ i + 1 }}.
              </td>
              <td>
                <app-variant-info [variant]="variant"
                ></app-variant-info>
              </td>
              <td class="variant-cell">
                <div class="variant" [ngStyle]="{
                    'border-color': variant.isSelected ? 'unset' : 'transparent'
                  }">
                  <app-variant-fragment [variant]="variant['variant']" [colorMap]="colorMap"></app-variant-fragment>
                </div>
                {{variant['variant']}}
              </td>
            </tr>
          </ng-container>
        </table>
      </div>
    </div>
  </div>
</div>
