<div class="d-flex flex-column h-100 container-variant-explorer">
  <div class="main-variant-explorer flex-grow-1">
    <div class="bg-dark btn-tool-bar">
      <div *ngIf="svgRenderingInProgress" class="full-body-spinner">
        <div class="svg-rendering-status">
          <div class="spinner-border spinner-border-sm" role="status"></div>
          Exporting Subvariants View...
        </div>
      </div>
      <span class="vl ms-auto"></span>
      <div
        *ngIf="sortAscending"
        class="btn-group align-baseline"
        data-bs-toggle="tooltip"
        data-bs-html="true"
        title="Sort subvariants by frequency
        <br/>Click to change sort order
        <br/>Current sort order: ascending"
      >
        <button
          class="button"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          (click)="toggleSortOrder()"
        >
          <i
            [ngClass]="
              sortAscending
                ? 'bi bi-sort-numeric-down btn-icon'
                : 'bi bi-sort-numeric-down-alt btn-icon'
            "
          ></i>
        </button>
      </div>
      <div
        *ngIf="!sortAscending"
        class="btn-group align-baseline"
        data-bs-toggle="tooltip"
        data-bs-html="true"
        title="Sort subvariants by frequency
        <br/>Click to change sort order
        <br/>Current sort order: descending"
      >
        <button
          class="button"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          (click)="toggleSortOrder()"
        >
          <i
            [ngClass]="
              sortAscending
                ? 'bi bi-sort-numeric-down btn-icon'
                : 'bi bi-sort-numeric-down-alt btn-icon'
            "
          ></i>
        </button>
      </div>
      <span class="vl"></span>
      <button
        class="button"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        data-bs-trigger="hover"
        title="Exports the view as an .svg"
        (click)="exportSubvariantSVG()"
      >
        <i class="bi bi-save"></i>
      </button>
    </div>
    <div class="d-flex">
      <div class="chart-variant__percentage">
        <!-- Using the same components as on the main explorer to visualize the base variant of the subvariant explorer--->
        <table>
          <tr>
            <td style="padding-right: 15px; padding-left: 5px">Parent</td>
            <td>
              <app-variant-info
                [selectable]="false"
                [variant]="mainVariant"
              ></app-variant-info>
            </td>
            <td class="variant-cell">
              <div class="variant" style="">
                <svg
                  appVariantDrawer
                  #fragment
                  [variant]="mainVariant['variant']"
                  [onClickCbFc]="subvariantClickCallBack"
                  [performanceMode]="false"
                  [computeActivityColor]="computeActivityColor"
                ></svg>
              </div>
            </td>
          </tr>
          <tr
            *ngFor="let subVariant of mainVariant.sub_variants; let j = index"
          >
            <td style="padding-right: 15px; padding-left: 5px">
              {{ mainVariant.number }}.{{ j + 1 }}
            </td>
            <td style="text-align: start">
              <small
                class="cursor-help"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                data-bs-container="body"
                data-bs-html="true"
                title="sub-variant describes ~{{
                  subVariant.percentage
                }}% of all traces of the main-variant<br>
        <span class='text-secondary'>sub-variant occurs {{
                  subVariant.count | number
                }} time(s) in total</span>"
              >
                {{ subVariant.percentage }}%<br />
                ({{ subVariant.count | number }})
              </small>
            </td>
            <td style="padding: 5px 5px 5px 50px">
              <app-sub-variant
                class="cursor-pointer"
                (click)="toggleExpanded()"
                [expanded]="mainVariant.variant.expanded"
                [variant]="subVariant.variant"
                [colorMap]="colorMap"
              >
              </app-sub-variant>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
