<div
  class="toast bg-dark secondary-text-color"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  #toastElement
>
  <div class="toast-header toast-header-bg">
    <i class="bi secondary-text-color" [ngClass]="toastEvent.icon"></i>
    <strong class="me-auto ms-2 secondary-text-color">{{
      toastEvent.title
    }}</strong>
    <button
      type="button"
      class="btn-close btn-close-white"
      data-bs-dismiss="toast"
      aria-label="Close"
    ></button>
  </div>
  <div class="toast-body bg-dark">{{ toastEvent.body }}</div>
</div>
