.chart-variant__percentage {
  margin-left: 4px;
  display: inline-flex;
  flex-direction: column;
  /*
  min-width: 50px;
  */
  font-size: .8rem;
  color: whitesmoke;
  margin-top: 20px;
  color: var(--text-secondary);
}

.chart-variant__percentage div {
  height: 40px;
  text-align: end;
  margin-right: 1px;
  vertical-align: middle;
  width: auto;
  line-height: .6rem;
}

.main-variant-explorer {
  overflow: auto;
  background-color: var(--box-background-color);
}

.container-variant-explorer {
  min-height: 100%;
}

.variant-explorer-alert {
  z-index: 1;
  position: absolute;
  bottom: 10px;
  margin: auto;
}

.info-bar {
  /*background-color: var(--box-background-color);*/
  font-size: var(--standard-font-size);
  color: var(--text-secondary);
  padding-left: 1em;
  width: 100%;
  text-align: right;
}




