<div class="alert alert-dark alert-dismissible fade show variant-explorer-alert" role="alert"
     *ngIf="alertMessage">
  <i class="bi bi-exclamation-triangle text-danger"></i>&nbsp;{{alertMessage}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="alertMessage=undefined;">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="d-flex flex-column h-100 container-variant-explorer">
  <div class="bg-dark btn-tool-bar">


    <i class="bi bi-question-circle-fill font-large ml-1 align-middle secondary-text"
       data-toggle="tooltip" data-placement="top" data-trigger="hover" data-html="true"
       title="variants marked with <i class='bi bi-check2-circle'></i> have been explicitly added to the process
             model<hr>explicitly added variants will remain in the process tree's language when incrementally adding new
             variants">
    </i>

    <span class="vl ml-1"></span>


    <button class="button"
            data-toggle="tooltip" data-placement="top" data-trigger="hover" data-html="true"
            title='calculate conformance checking statistics
            <br><i class="bi bi-question-square text-secondary"> unknown</i>
            <br><i class="bi bi-hourglass-split text-secondary"> being calculated</i>
            <br><i class="bi bi-check-square text-success"> variant fits model</i>
            <br><i class="bi bi-x-square text-danger"> variant does not fit model</i>
            <br><i class="bi bi-check-square text-warning"></i>
            <i class="bi bi-x-square text-warning"> outdated results (model has changed)</i>'
            (click)="updateAlignments()"
            [disabled]="!currentlyDisplayedProcessTree || calculatedAlignments<alignmentsToBeCalculated || !correctTreeSyntax">
      <i class="bi bi-layers-fill btn-icon"></i>
      conformance check
    </button>

    <span class="vl"></span>

    <button class="button"
            data-toggle="tooltip" data-placement="top" data-trigger="hover"
            title="add selected variant(s) to current process model"
            [disabled]="!isSomeSelected() || !currentlyDisplayedProcessTree"
            (click)="addSelectedVariantsToModel()">
      <i class="bi bi-plus btn-icon"
         [ngClass]="{'text-success': !(!isSomeSelected() || !currentlyDisplayedProcessTree)}"></i>
      add variant(s) to model
    </button>

    <span class="vl"></span>

    <button class="button"
            data-toggle="tooltip" data-placement="top" data-trigger="hover" data-html="true"
            title="discover an initial model from the selected variants using the standard <em>Inductive Miner</em>
            algorithm<br><b><i class='bi bi-exclamation-triangle text-warning'></i> overwrites the existing model</b>"
            [disabled]="!isSomeSelected()"
            (click)="discover_initial_model()">
      <i class="bi bi-diagram-2-fill btn-icon" [ngClass]="{'text-success':selectedVariants.size!=0}"></i>
      discover initial model
    </button>

    <span class="vl"></span>


    <button class="button" (click)="clearSelection()" [disabled]="!isSomeSelected()">
      <i class="bi bi-x btn-icon" [ngClass]="{'text-danger':selectedVariants.size!=0}"></i>
      clear selection
    </button>

    <!--    <div class="mr-3 secondary-text ml-auto">-->
    <!--      <em>selected variants: {{this.selectedVariants.length}}</em>-->
    <!--    </div>-->

  </div>


  <div class="main-variant-explorer" style="flex: 1; display: flex;">
    <cdk-virtual-scroll-viewport itemSize="110" style="flex: 1;">
      <ul>
        <ng-container  *cdkVirtualFor="let i of variants">
          <li>
            <app-variant [variant]="i['variant']" [colorMap]="colorMap"></app-variant>
          </li>
        </ng-container>
      </ul>
      </cdk-virtual-scroll-viewport>
  </div>

  <div class="bg-dark info-bar pl-2 pr-2">

    <span class="float-left"
          *ngIf="(numberFittingTraces || numberFittingTraces>=0) && (totalNumberTraces || totalNumberTraces>0)">
      fitting traces:
      <span [ngClass]="!outdatedConformanceStatistics? '' : 'text-warning'">
        {{numberFittingTraces|number}}&nbsp;/&nbsp;{{totalNumberTraces|number}}
        ({{numberFittingTraces / totalNumberTraces| percent:'.1'}})</span>
    </span>

    <span class="float-left ml-4"
          *ngIf="(numberFittingVariants || numberFittingVariants>=0) && (totalNumberVariants || totalNumberVariants>0)">
      fitting variants:
      <span [ngClass]="!outdatedConformanceStatistics? '' : 'text-warning'">
      {{numberFittingVariants|number}}&nbsp;/&nbsp;{{totalNumberVariants|number}}
        ({{numberFittingVariants / totalNumberVariants| percent:'.1'}})
      </span>
    </span>

    <span class="float-right">
      selected variants: {{selectedVariants.size|number}}
    </span>
  </div>


</div>
